<h1>Your Shopping Cart</h1>

<% if @cart.contents.empty? %>
  <p>Your cart is empty</p>
<% else %>
  Total: <%= number_to_currency(@cart.grand_total) %>

  <%= button_to "Empty cart", cart_empty_path, method: :delete %>

  <% if current_user %>
    <%= button_to 'Check out with main address', profile_orders_path %>
    <% @locations.each do |location| %>
    <%= button_to "Check out with #{location.name} address", profile_address_orders_path(location) %>
    <% end %>
  <% else %>
    You must
    <%= link_to 'register', registration_path %>
    or
    <%= link_to 'log in', login_path %>
    to check out.
  <% end %>

  <% @items.each do |item| %>
    <%= tag.div id: "item-#{item.id}" do %>
      <%= render partial: "cart_item", locals: {item: item, img_width: 150} %>
      <p>Use a coupon for this item</p>
        <%= form_tag cart_coupon_use_path do %>
          <div>
            <%= label_tag :coupon_code %>
            <%= text_field_tag :coupon_code, params[:coupon_code] %>
            <%= submit_tag 'Use this coupon' %>
          </div>
        <% end %>
    <% end %>
  <% end %>
<% end %>
