<h1>User Profile</h1>

<p>Name: <%= current_user.name %></p>
<p>Role: <%= current_user.role %></p>
<p>Email: <%= current_user.email %></p>
<p>Address: <%= current_user.address %></p>
<p>City: <%= current_user.city %></p>
<p>State: <%= current_user.state %></p>
<p>Zip: <%= current_user.zip %></p>

<%= link_to "Edit", edit_user_path(current_user) %>
