<h1>User Profile</h1>

<p>Name: <%= @user.name %></p>
<p>Role: <%= @user.role %></p>
<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address %></p>
<p><%= link_to "Manage Addresses", profile_locations_path %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>

<% if @user == current_user %>
<%= link_to "Edit", edit_profile_path %>
<% elsif current_admin? %>
<%= link_to 'Edit', edit_admin_user_path(@user) %>
<% end %>

<% unless @user.orders.empty? %>
  <% if @user.id == current_user.id %>
  <%= link_to 'See all Orders', profile_orders_path %>
  <% elsif current_admin? %>
  <%= link_to 'See all Orders', admin_user_orders_path(@user) %>
  <% end %>
<% end %>
