<h1>Merchant List</h1>
<%= tag.div class: "card" do %>
  <%= tag.section class: "statistics card-body float-left m-4" do %>
    <%= tag.section id: "top-three-merchants-revenue", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top Merchants by Revenue</h5>
      <ul>
        <% @top_three_merchants_by_revenue.each do |merchant| %>
          <li><%= link_to merchant.name, merchant_path(merchant) %>: <%= number_to_currency(merchant.total) %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "top-three-merchants-fulfillment", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Best Fulfillment Times</h5>
      <ul>
        <% @top_three_merchants_by_fulfillment.each do |merchant| %>
          <li><%= link_to merchant.name, merchant_path(merchant) %>: <%= merchant.fulfillment_time.split('.').first[0..-10] %> <%= pluralize(merchant.fulfillment_time.split('.').first[-8..-7], 'hour') %> <%= pluralize(merchant.fulfillment_time.split('.').first[-5..-4], 'minute') %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "bottom-three-merchants-fulfillment", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Worst Fulfillment Times</h5>
      <ul>
        <% @bottom_three_merchants_by_fulfillment.each do |merchant| %>
          <li><%= link_to merchant.name, merchant_path(merchant) %>: <%= merchant.fulfillment_time.split('.').first[0..-10] %> <%= pluralize(merchant.fulfillment_time.split('.').first[-8..-7], 'hour') %> <%= pluralize(merchant.fulfillment_time.split('.').first[-5..-4], 'minute') %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "top-states-by-order", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top States by Order</h5>
      <ul>
        <% @top_states_by_order_count.each do |result| %>
          <li><%= result.state %>: <%= pluralize(result.order_count, "order") %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "top-cities-by-order", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top Cities by Order</h5>
      <ul>
        <% @top_cities_by_order_count.each do |result| %>
          <li><%= result.city %>, <%= result.state %>: <%= pluralize(result.order_count, "order") %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "top-orders-by-items-shipped", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top Orders by Items Shipped</h5>
      <ul>
        <% @top_orders_by_items_shipped.each do |result| %>
          <li>Order <%= result.id %>: <%= pluralize(result.quantity, "item") %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% @merchants.each do |merchant| %>
  <%= tag.section id: "merchant-#{merchant.id}" do %>
    <%= render partial: "merchant_card", locals: {merchant: merchant}%>
  <% end %>
<% end %>
