<h1>Merchant Dashboard</h1>

<h3><%= @merchant.name %></h3>
<p>Role: <%= @merchant.role %></p>
<p>Email: <%= @merchant.email %></p>
<p>Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip: <%= @merchant.zip %></p>
