<h1>Merchant Dashboard</h1>

<% if current_admin? %>
<p>
  <%= button_to 'Downgrade to User', admin_downgrade_merchant_path(@merchant), method: :put %>
</p>
<% end %>

<div class="card float-left m-3 order-item-card">
  <div class="card-body">
    <h5 class="card-title"><%= @merchant.name %></h5>
    <p>Role: <%= @merchant.role %></p>
    <p>Email: <%= @merchant.email %></p>
    <p>Address: <%= @merchant.address %></p>
    <p>City: <%= @merchant.city %></p>
    <p>State: <%= @merchant.state %></p>
    <p>Zip: <%= @merchant.zip %></p>
  </div>
</div>

<%= tag.div class: "card" do %>
  <%= tag.section class: "statistics card-body float-left m-4" do %>
    <%= tag.section id: "top-items-sold-by-quantity", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top Items Sold by Quantity</h5>
      <ul>
        <% @merchant.top_items_sold_by_quantity(5).each do |item| %>
          <li><%= link_to item.name, dashboard_item_path(item) %>: <%= item.quantity %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "percent-of-items-sold", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Sold Items Percentage</h5>
        <p> You have sold <%= pluralize(@merchant.total_items_sold, 'item') %>, <%= number_to_percentage(@merchant.percent_of_items_sold, precision: 2) %> of your total inventory</p>
    <% end %>
    <%= tag.section id: "top-states-by-items-shipped", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top States by Items Shipped</h5>
      <ul>
        <% @merchant.top_states_by_items_shipped(3).each do |item| %>
          <li><%= item.state %>: <%= item.quantity %></li>
        <% end %>
      </ul>
    <% end %>
    <%= tag.section id: "top-cities-by-items-shipped", class: "card-body float-left m-2" do %>
      <h5 class="card-title">Top Cities by Items Shipped</h5>
      <ul>
        <% @merchant.top_cities_by_items_shipped(3).each do |item| %>
          <li><%= item.city %>, <%= item.state %>: <%= item.quantity %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<section>
  <p>
  <% if current_user == @merchant %>
  <%= link_to 'Items for Sale', dashboard_items_path %>
  <% else %>
  <%= link_to 'Items for Sale', admin_merchant_items_path(@merchant) %>
  <% end %>
  </p>
</section>


<% if @pending_orders %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created Date</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @pending_orders.each do |order| %>
        <tr id="order-<%= order.id %>">
          <td><%= link_to order.id, dashboard_order_path(order) %></td>
          <td><%= order.created_at %></td>
          <td><%= order.total_quantity_for_merchant(@merchant.id) %></td>
          <td><%= order.total_price_for_merchant(@merchant.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
