<%= tag.div class: "card float-left m-3 item-card" do %>
  <%= tag.a href: item_path(item) do %>
    <%= image_tag item.image,
      alt: "image for #{item.name}",
      width: img_width,
      class: "card-img-top",
      id:"item-#{item.id}-image" %>
  <% end %>

  <%= tag.section class: "card-body" do %>
    <%= tag.h5 class: "card-title" do %>
      <%= link_to item.name, item_path(item) %>
    <% end %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>
      <strong>Sold by:</strong> <%= item.user.name %><br/>
      <strong>In stock:</strong> <%= item.inventory %>
    </p>
  <% end %>
<% end %>
